.header {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uni-logo {
    height: 60px;
    margin-right: 40px;
}
.qs-logo {
    height: 30px;
}
